li.checked {
    text-decoration: line-through;
}

h1 {
    color: brown;
}

#to-do-list {
    color: crimson;
    

}


.fab fa-affiliatetheme
{
    height: 200;
    width: 200;
}
